@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(orange, red); */
  font-family: 'Poppins', sans-serif;
}

section.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh; /* Set a minimum height for the section */
}

.search{
    min-height: 1px;
}
.card {
  width: 100%;
  max-width: 400px;
}

.card {
  color: white;
  background: skyblue;
  border-radius: 20px;
  height: auto; 
  /* padding: 20px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  section.hero {
    flex-direction: column;
  }

  .search,
  .card {
     margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .search,
  .card {
    max-width: none;
  }
}

@media (max-width: 355px){
    .search,
    .card{
        max-width: none;
    }
}
